[NetDev]
Name={{ wg_name }}
Kind=wireguard

[WireGuard]
ListenPort={{ wg_port }}
PrivateKey={{ wg_privkey }}
{% if wg_fwmark is defined %}
FwMark={{ wg_fwmark }}
{% endif %}

{% for peer in q('inventory_hostnames', wg_peers) | sort
  if peer != inventory_hostname and hostvars[peer].wg_pubkey is defined %}
{%   set hv = hostvars[peer] %}
# {{ peer }}
[WireGuardPeer]
PublicKey={{ hv.wg_pubkey }}
AllowedIPs={{ hv.wg_ip | ansible.utils.ipaddr('address') | ansible.utils.ipaddr('host') }}
{%   for sn in hv.wg_routes | d() %}
AllowedIPs={{ sn.subnet }}
{%   endfor %}
{%   if hv.wg_ext_ip | d() and hv.wg_port | d() %}
Endpoint={{ hv.wg_ext_ip }}:{{ hv.wg_port }}
{%   endif %}
{%   if hv.wg_psk is defined %}
PresharedKey={{ hv.wg_psk }}
{%   endif %}
{%   if wg_keepalive is defined %}{# host, not peer #}
PersistentKeepalive={{ wg_keepalive }}
{%   endif %}

{% endfor %}
