[Match]
Name={{ wg_name }}

[Network]
Address={{ wg_ip }}
{{ wg_network_opts | d() }}

{% for peer in q('inventory_hostnames', wg_peers)
  if peer != inventory_hostname and hostvars[peer].wg_pubkey is defined %}
# {{ peer }}
{%   for addr in hostvars[peer].wg_routes | d() %}
[Route]
Destination={{ addr }}
{%   endfor %}
[RoutingPolicyRule]
IPProtocol=udp
DestinationPort={{ wg_port | d(wg_default_port, true) }}
{% if hostvars[peer].wg_ext_ip | d() != 'none' %}
{%   set peer_ip = hostvars[peer].wg_ext_ip | d(hostvars[peer].ansible_facts.ansible_default_ipv4.address, true) %}
From={{ peer_ip }}
{% endif %}

{% endfor %}
