[Match]
Name={{ wg_name }}

[Network]
Address={{ wg_ip }}

{{ wg_network_opts | d() }}

{% for subnet in hostvars |
     select('in', q('inventory_hostnames', wg_peers)) |
     reject('equalto', inventory_hostname) |
     selectattr('wg_routes', 'defined') |
     map(attribute='wg_routes') |
     sort %}
[Route]
Destination={{ subnet }}

{% endfor %}
