[Match]
Name={{ wg_name }}

[Network]
Address={{ wg_ip }}
{% for dns in wg_dns | d() %}
DNS={{ dns }}
{% endfor %}
{% for domain in wg_domains | d() %}
Domains={{ domain }}
{% endfor %}
LLMNR=yes
MulticastDNS=yes

{{ wg_network_opts | d() }}

{% for subnet in q('inventory_hostnames', wg_peers) | 
     reject('equalto', inventory_hostname) |
     map('extract', hostvars, 'wg_routes') | 
     flatten |
     ipaddr() |
     sort |
     unique |
     reject('equalto', wg_ip | ipaddr('subnet')) %}
[Route]
Destination={{ subnet }}

{% endfor %}
